modules = ["nodejs-20", "postgresql-16", "python-3.11"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5008
externalPort = 3000

[nix]
channel = "stable-24_05"
packages = ["unzipNLS"]

[workflows]
runButton = "Start TestCaseTracker Fixed"

[[workflows.workflow]]
name = "Start TestCaseTracker"
author = 41980973
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd TestCaseTracker && npm install && node dev.js"

[[workflows.workflow]]
name = "Start TestCaseTracker Fixed"
author = 41962454
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd TestCaseTracker && npm install && node dev.js"
